<% @pictures.each do |picture| %>
  <% if picture.image.url %>
    <div class="photo">
      <%= link_to image_tag(picture.image.url, width: '140px'),"/pictures/#{picture.id}"%>
      <p class="label"><%= picture[:title]%>, <%= picture[:artist] %></p>  
      
    </div>


    

    <% else %>
      <div class="photo">
      <%= link_to image_tag(picture.url, width: '140px'),"/pictures/#{picture.id}"%>
      <p class="label"><%= picture[:title]%>, <%= picture[:artist] %></p>  
      
    </div>
  <% end %>
<% end %>