<div class= "header_bar">
  <div class= "header_button">Photogur</div>
  <div class= "header_button"><%= link_to "Add photo", "/pictures/new" %></div>
</div>
<div class="container">
  <h1>Most Recent Pictures</h1>
  <div>
    <ul>
      <% @most_recent_pictures.each do |picture| %>
        <li><%= picture[:title]%>, <% picture[:artist] %>
          <%= link_to image_tag(picture.url),"/pictures#{picture.id}"%></li>
      <% end %>
    </ul>
  </div>

  <p>Pictures created within one hour: <%= Picture.created_within(1.hour.ago).count %></p>

  <p>Pictures created within a day: <%= Picture.created_within(1.day.ago).count %></p>
  <p>Total number of pictures in the database: <%=Picture.count %></p>

    
  </div>
  <div class="upload_box">
    Upload
  </div>
</div>